* { box-sizing: border-box
}

body {
font-size: 1.35em; 
font-family: 'Nunito', sans-sherif;
color: #000; 
background: #e8e9e9; 
padding-left: 5%; 
padding-right: 5%;
}

h1{
color: #555;
}

.top-share .top-share-fb{
background: linear-gradient(to bottom, #4b68b9 0%, #3b55a0 100%);
color: #fff; 
text align: center; 
border-radius: 5px; 
cursor: pointer;
}

.top-share .top-share-fb:hover{
box shadow: 0 -50px 40px rgba(0, 0, 0, 0.1) inset;
}

.top-share .top-share-fb span
{ 
display: inline-block; 
padding: 10px 0 10px 20px;
/*background-image: url('img/fb.png') left center no-repeat;*/
background-size: 25px;
}

.top-share-text{
font size: 25px;
}

.flex-container { 
padding: 10px; 
background: #fff; 
border-radius: 5px; 
margin: 45px auto; 
box-shadow: 0 1.5px 0 rgba(0,0,0,0.1);
}

.flex-element { 
color: #fff; 
padding: 15px; 
margin: 5px; 
background: firebrick; 
border-radius: 3px;
}

