.flex-container{
	display: flex;
	height: 300px;
}


/* top positions */

.top-share .wrap{
	display: flex;
	align-items: center;
}

.top-share .top-share-fb{
flex: 1;
margin-right: 2%;
}

.top-share-text{
	color: #000;
flex: 3;
}
